# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variable files (for secrets like DB passwords)
.env

# IDE/editor-specific files
.vscode/
.idea/

# MacOS & Linux hidden files
.DS_Store
Thumbs.db

# Logs
*.log

# Test coverage reports
htmlcov/
coverage.xml
*.cover

# Database (jika pakai SQLite lokal)
*.sqlite3

# PyInstaller
*.spec
dist/
build/

# Jupyter Notebook checkpoints (just in case)
.ipynb_checkpoints/

# Pip cache
pip-wheel-metadata/